@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.style-section {
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#section-content{
    background: #161616;
}
section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e51e2a;
    clip-path: circle(70% at right -20%);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 100px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

header .navigation #shopping{
    font-size: 1.3rem;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .textBox h2{
    color: #fff;
    font-size: 2.2em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p{
    color: #fff;
    text-align: justify;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #e51e2a;
    border: 2px solid #e51e2a;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .textBox a:hover{
    background-color: #161616;
    color: #fff;
    border: 2px solid #fff;
}

.sci{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover{
    background: #e51e2a;
    transform: translateY(-10px);
}

.sci li a img{
    filter: invert(1); /*muda cor da img*/
    transform: scale(0.5);
}

.swiper-wrapper {
    width: 500px !important;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px !important;
    height: 460px !important;
    display: flex !important;
    justify-content: center !important;
}


.imgBox{
    width: 500px !important;
    display: flex !important;
    justify-content: flex-end !important;
}

.swiper-slide img{
    max-width: 150px;
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right{
    background-image: none !important;
}

#section-info{
    background-image: linear-gradient(360deg,rgba(0, 0, 0, 0.24) 0%,#161616 100%), url(img/pexels-olena-bohovyk-1904262.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
}

#section-info h2{
    font-size: 1.5rem;
}

.title-section-info{
    width: 70%;
}

#section-card{
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#section-card .title-section-card{
    text-align: center;
}

#section-card .title-section-card h1{
    font-size: 1.9rem;
}

#section-card .swiper {
    width: 100%;
    height: 100%;
}

.mySwiperCard .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 300px !important;
    padding: 30px;
}

.mySwiperCard .swiper-slide img {
    display: flex !important;
    width: 70px !important;
    position: inherit;
}

.content-card{
    display: flex !important;
    justify-content: end !important;
    flex-direction: column !important;
    border-radius: 15px;
    width: 250px;
    height: 400px;
}

.content-card .img-card{
    display: flex;
    justify-content: center;
}

.content-card-info{
    margin-top: 15px;
}

.content-shopping{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content-shopping .btn-shopping{
    background-color: #e51e2a;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 30px;
    font-weight: 600;
    border: 2px solid #e51e2a;
}

.price{
    margin-left: 15px;
}

.btn-shopping:hover{
    transition: 0.2s;
    background-color: #fff;
    color: #e51e2a;
    cursor: pointer;
}

.content-quant-shopping{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bi-plus, .bi-dash{
    font-size: 1.3rem;
    margin: 5px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.bi-plus:hover, .bi-dash:hover{
    background-color: #e51e2a;
    color: #fff;
    border: 1px solid #e51e2a;
}

@media (max-width: 991px){
    header{
        padding: 40px;
    }

    section{
        padding: 150px 40px;
    }

    .sci{
        left: 40px;
    }

    .content{
        flex-direction: column;
    }

    .content .textBox,
    .content .imgBox{
        max-width: 100%;
    }

    .swiper-slide{
        height: 300px !important;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #e51e2a;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;
    }

    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(img/menu.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle.active{
        position: fixed;
        right: 40px;
        background: url(img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header .navigation li a {
        display: inline-block;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300px
        z;
    }
}