@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e51e2a;
    border-bottom: 5px solid #161616;
}

header .logo{
    position: relative;
    max-width: 100px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

#section-items-shopping{
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-shopping{
    display: flex;
    width: 30px;
    position: inherit;
    margin-right: 15px;
}

.content-shopping{
    display: flex;
    align-items: center;
    border: 1px solid #161616;
    width: 40%;
    padding: 10px ;
}